.books {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
  }
  &__paginator {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
}
.error {
  font-size: 36px;
  margin: 40px;
}
