.book {
  line-height: 18px;
  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    margin-bottom: 40px;
  }
  &__inner {
    height: 350px;
    background-color: rgba(238, 254, 255, 0.911);
    border: 1px solid #00bcd4;
    border-radius: 45px;
    padding: 15px 10px 30px 10px;
    margin: 0 15px;
    transition: all 0.3s;
    cursor: pointer;
    &:hover{
      transform: scale(1.05);
    }
  }
  &__title {
    width: 350px;
    height: 60px;
  }
  &__image {
    margin: 0 15px;
    &__img {
      height: 150px;
    }
  }
  &__info {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  &__authors {
    margin-bottom: 10px;
  }
}
